.App {
  text-align: center;
}
.underline {
  border-top: solid #c359e9;
  width: 100px;
}

/* . nav {
  margin-top: -10;
  top: 0;
  position: sticky;
  height: 50px;
  width: 100%;
  background: #1b242f;
  border-bottom: 3px solid #04c2c9;
  text-align: left;
  z-index: 99;
} */

body {
  overflow-x: hidden;
}
